{
  "globals" : {
    "setTimeout" : true
  },
  "parserOptions": {
    "ecmaVersion": "2015",
    "sourceType": "module"
  },
  "rules" : {
    "global-strict"   : 0,
    "key-spacing"     : [0, { "beforeColon": false, "afterColon": true }],
    "no-console"      : 1,
    "no-multi-spaces" : 0,
    "quotes"          : [1, "single", "avoid-escape"]
  }
}
