html, body {
  background-color: #6d6d6d;
}

a, a:link, a:visited {
  color: #d8022c;
}

article {
  padding-bottom: 1.5rem;
}

.article__content a:not(.button) {
  font-weight: inherit;
}

.article__content h2 {
  border-bottom: 1px solid #eaecef;
  font-size: 2.0rem;
  line-height: 100%;
  margin: 2.2rem 0 1.2rem;
  padding-bottom: 0.5rem;
}

@media (max-width: 499px) {
  .article__content h2 {
    font-size: 1.7rem;
    margin: 1.9rem 0 1.0rem;
  }
}

article .js-article-content > h2:first-child {
  margin-top: 0;
}

.article__content h3 {
  font-size: 1.5rem;
  line-height: 100%;
  margin: 1.8rem 0 1.0rem;
}

@media (max-width: 499px) {
  .article__content h3 {
    font-size: 1.3rem;
    margin: 1.5rem 0 1.0rem;
  }
}

.article__content h4 {
  font-size: 1.3rem;
  line-height: 100%;
  margin: 2rem 0 1.0rem;
}

@media (max-width: 499px) {
  .article__content h4 {
    font-size: 1.1rem;
    margin: 1.5rem 0 0.75rem;
  }
}

.article__content h1 > .anchor,
.article__content h2 > .anchor,
.article__content h3 > .anchor,
.article__content h4 > .anchor {
  position: absolute;
  margin-left: -1em;
}

.article__content h1 > .anchor > i,
.article__content h2 > .anchor > i,
.article__content h3 > .anchor > i,
.article__content h4 > .anchor > i {
  font-size: 80%;
}

.article__content p {
  line-height: 150%;
}

.button--primary, .button--primary:link, .button--primary:visited {
  background: linear-gradient(8deg, hsl(210, 95%, 20%), hsl(210, 95%, 38%));
  border: 1px solid hsl(210, 95%, 28%);
  color: white;
  filter: brightness(115%);
}
.root[data-is-touch="false"] .button--primary:hover {
  filter: brightness(100%);
}

.button--secondary, .button--secondary:link, .button--secondary:visited {
  background: white;
  border: 1px solid hsl(210, 95%, 36%);
  color: hsl(210, 95%, 36%);
}
.root[data-is-touch="false"] .button--secondary:hover {
  background: white;
  border-color: hsl(210, 95%, 36%);
  box-shadow: inset 0 0 8px 0px hsla(210, 100%, 90%, 1);
  color: hsl(210, 95%, 36%);
}

.button--outline-secondary, .button--outline-secondary:link, .button--outline-secondary:visited {
  border-color: hsl(210, 95%, 42%);
  color: hsl(210, 95%, 42%);
}
.root[data-is-touch="false"] .button--outline-secondary:hover {
  background-color: hsl(210, 95%, 42%);
  color: white;
}

.button--xxl {
  padding: 1rem 1.6rem;
  font-size: 1.3rem;
}

code.highlighter-rouge {
  background-color: rgba(27, 31, 35, 0.05);
  border-radius: 3px;
  font-size: 85%;
  padding: 0.2em 0.4em;
}

article hr {
  background: linear-gradient(to right, hsla(210, 95%, 36%, 0) 0%, hsla(210, 95%, 36%, 0.3) 30%, hsla(210, 95%, 36%, 0.3) 70%, hsla(210, 95%, 36%, 0) 100%);
  border: none;
  display: inline-block;
  height: 2px;
  margin-left: 50%;
  min-width: 70vw;
  transform: translateX(-50%);
}

pre.highlight {
  background: rgba(0, 0, 0, 0.9) !important;
  line-height: 150%;
  margin: 1rem 0;
  overflow: auto;
  padding: 0.7rem 1.1rem;
}

pre.highlight code {
  font-size: 0.8rem;
}

.page__content {
  overflow-x: hidden;
}

.header {
  background: linear-gradient(8deg, #262626 0%, #033d77 100%);
  color: #ffffff;
}

.footer {
  background: #6d6d6d;
  color: #ffffff;
}

.header a,
.header a:link,
.header a:visited,
.footer a,
.footer a:link,
.footer a:visited {
  color: inherit;
}

.header .navigation__item {
  color: #ffffff;
}

.header .navigation__item--active a,
.header .navigation__item--active a:link,
.header .navigation__item--active a:visited,
.root[data-is-touch="false"] .header .navigation__item--active a:hover {
  color: #ffffff;
}

.header .navigation__item--active::after {
  border-color: rgba(255, 255, 255, 1);
}

.header .button--secondary {
  background-color: #181818;
  color: inherit;
}

.root[data-is-touch="false"] .header .button--secondary:hover {
  background-color: #000000;
  color: #fc4d50;
}

.header__brand {
  display: flex;
  align-items: center;
}

.header__brand a {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 100%;
  margin-top: -0.1rem;
}

.sidebar-button {
  background: linear-gradient(8deg, #262626 0%, #033d77 100%);
  box-shadow: 0 0 4px #033d77;
  color: #ffffff;
}

@media (max-width: 500px) {
  .button--xxl {
    font-size: 1.1rem;
  }
}

.align-self-stretch {
  align-self: stretch;
}

.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
  max-width: 100%;
}

.flex-grow-1 {
  flex-grow: 1 !important;
}

.text-center {
  text-align: center;
}
